body{font-family: 'Nunito Sans', sans-serif;}
a:hover { 
    text-decoration: none !important;
}
.w3-container { 
    padding: 30px;
}
.tab {
    margin: 55px;
    background: #fff;
    border-radius: .5rem;
    display: block;
    -webkit-box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 30px;
}
.headding1{ text-align: center;}
.headding1, .tab h2{
font-size: 30px;
line-height: 40px;
color: #2c2c51;
font-weight: 600;
margin-bottom: 32px;font-family: 'Nunito', sans-serif;
position: relative;
}
 
.headding1:before,.tab h2:before {
        content: '';
        bottom: -4px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 4px;
        position: absolute;
        border-radius: 10px;
        background: rgba(102,71,238,1);
        background: -moz-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,71,238,1)), color-stop(100%, rgba(146,36,220,1)));
        background: -webkit-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
        background: -o-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
        background: -ms-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
        background: linear-gradient(to right, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6647ee', endColorstr='#9224dc', GradientType=1 );
    }
.tab h2:before {
    left: 0%;
    transform: translateX(0%);
}
 
.w3-bottombar:hover {
    color: #444;
}
.w3-row a{text-decoration: none;}
.w3-bottombar { 
    padding: 10px 30px !important;
    border-radius: 50px;
    font-weight: 500;
    background: none;
    color: #337ab7;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
}
.main-btn {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}
.rs-main {
     
}
.rs-button {
    width: 100%;padding: 5px 0;
}
.w3-bottombar.w3-border-red {
    color: #fff;
    background: rgba(102,71,238,1);
    background: -moz-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,71,238,1)), color-stop(100%, rgba(146,36,220,1)));
    background: -webkit-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: -o-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: -ms-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: linear-gradient(to right, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6647ee', endColorstr='#9224dc', GradientType=1 );
}

.w3-row{
    display: block;
    background-color: #fff;
    list-style: none;
    margin-left: 15px;
    padding: 15px 10px;
    border-radius: 50px;
    border: 1px solid #f0f0f0;
    margin: 0 auto !important;
    box-shadow: 0px 5px 10px 0px #ddd;
    max-width: 428px;
    margin: 0 5px;
}
.video-m {
    max-width: 645px;
    margin: 0 auto 15px auto;
    position: relative;
}
.logo {
    padding: 0 0 15px 0;
    text-align: center;
}
 
.tab .col-md-12 button{
    color: #fff;
    font-weight: 600;
    padding: 12px 30px;
    margin: 0 5px;
    border-radius: 50px;
    letter-spacing: 0px;
    display: inline-block;
    transition: 0.3s ease-out;
    border: 1px solid transparent;
    box-shadow: 0px 20px 50px 0px rgba(153, 153, 153, 0.1);
    text-transform: uppercase;
    background: rgba(102,71,238,1);
    background: -moz-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,71,238,1)), color-stop(100%, rgba(146,36,220,1)));
    background: -webkit-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: -o-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: -ms-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: linear-gradient(to right, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6647ee', endColorstr='#9224dc', GradientType=1 );
}
.tab .col-md-12 button:hover {
    opacity: 0.8;
}
.video-div video, .video-div canvas {
    box-shadow: #afafaf 0 0 20px;
    border: solid #949494;
}

.tab .col-md-12 button img {
    width: 22px;
}

.tab .col-md-4 button{
    color: #fff;
    font-weight: 600;
    min-width: 180px;
    padding: 12px 30px;
    margin: 0 5px;
    border-radius: 50px;
    letter-spacing: 0px;
    display: inline-block;
    transition: 0.3s ease-out;
    border: 1px solid transparent;
    box-shadow: 0px 20px 50px 0px rgba(153, 153, 153, 0.1);
    text-transform: uppercase;
    background: rgba(102,71,238,1);
    background: -moz-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,71,238,1)), color-stop(100%, rgba(146,36,220,1)));
    background: -webkit-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: -o-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: -ms-linear-gradient(left, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    background: linear-gradient(to right, rgba(102,71,238,1) 0%, rgba(146,36,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6647ee', endColorstr='#9224dc', GradientType=1 );
}
.tab .col-md-4 button:hover {
    opacity: 0.8;
}

.tab .col-md-4 button img {
    width: 22px;
}
#_containerRV{
    overflow: auto;
}
@media (max-width:1500px){

.video-div video, .video-div canvas{ width: 100% !important;}
.tab .col-md-12 button { 
    padding: 5px 20px;
    font-size: 14px;
}

.tab .col-md-4 button { 
    padding: 5px 20px;
    font-size: 14px;
}
.tab {
    margin: 15px 0;
    padding: 15px;
}
}
@media (max-width:767px){
    .w3-container {
        padding: 15px;
    }
   
    .headding1, .tab h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .main-btn { 
        padding: 15px 0;
    }
}